@mixin font {
  color: var(--primary-white);
  line-height: 40px;
  font-family: Consolas, Courier New, monospace;
}

.section>hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: #ffffff80;
  border: none;
}

.section {
  align-self: center;
  max-width: 1500px;
  width: calc(var(--editor-page-width) - 40px);
  width: -webkit-fill-available;
  padding: 20px;
}

p.content {
  width: auto;
  font-size: 1.2em;
  @include font;
}