div#resizableWorkBench.overlayed {
    position: absolute;
    z-index: 1;
    top: var(--top-bar-height);
    left: var(--side-bar-width);
    width: var(--work-bench-width);
    height: calc(100% - (var(--bottom-bar-height) + var(--top-bar-height)));
    flex-shrink: 0;
    display: flex;

    @media (max-width: 400px) {
        width: 100%;
    }
}

#resizableWorkBench.hidden {
    visibility: hidden;
    width: 0;
}

.resizable {
    position: relative;
    height: 100%;
    width: var(--work-bench-width);
    flex-shrink: 0;
    transition: all 0.1s;
    display: flex;
}

#dragger {
    transition: all 0.2s;
    width: var(--resizable-drager-width);
    height: 100%;
    background-color: var(--side-panel-bg);
    align-self: flex-end;

    &:hover {
        background-color: var(--bottom-bar-bg);
        cursor: w-resize;
    }
}

#dragger.active {
    background-color: var(--bottom-bar-bg);
    cursor: w-resize;
}