.resizable {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    display: flex;
}

#dragger {
    transition: all 0.5s;
    width: var(--resizable-drager-width);
    height: 100%;
    background-color: var(--side-panel-bg);
    align-self: flex-end;
    &:hover {
    background-color: var(--bottom-bar-bg);
        cursor: w-resize;
    }
}
#dragger.active{
    background-color: var(--bottom-bar-bg);
    cursor: w-resize;
}