@mixin dimensions() {
  --top-bar-height: 30px;
  --top-bar-circle-size: 10px;
  --bottom-bar-height: 20px;
  --side-bar-width: 40px;
  --work-bench-width: 300px;
  --editor-page-width: calc((100vw - var(--side-bar-width)) - var(--work-bench-width));
  --resizable-drager-width: 4px;
  --expandable-item-height: 20px;
  --space-width: 15px;
  --tab-width: 20px;
  --page-line-indicator-width: 45px;
}

@mixin comonColor() {
  --break-point: #e63a2a94;
  --red: #ed484f;
  --yellow: #f8b42b;
  --green: #27d93b;
  // json
  --curly-braces: #dad424;
  --json-value: #c06031;
  --json-key: #8fdcdb;
  //

  --bottom-bar-bg: #0776c7;
  --side-bar-bg: #2c2c2c;
  --top-bar-bg: #333333;
}

[data-theme="dark"] {
  --root-bg: #080808;
  --text: #fdfdfd;
  --primary-white: rgb(238, 236, 236);
  --line-gray: #313131;
  --icon-color: #949191;
  --text-gray: #778477;
  --editor-bg: #1b1b1b;
  --side-panel-bg: #212121;
  --main-bg: var(--side-panel-bg);
  --image-bg: #181818;

  @include comonColor();
  @include dimensions();
}

[data-theme="purple"] {
  --root-bg: #2d2b55;
  --text: #fff2d3;
  --primary-white: #e6e6fa;
  --line-gray: #545151;
  --icon-color: #2d2b55;
  --text-gray: #778899;
  --editor-bg: #2d2b55;
  --side-bar-bg: #3c3b59;
  --side-panel-bg: #23204d;
  --main-bg: var(--side-panel-bg);
  --image-bg: #1c1b2e;

  @include comonColor();
  @include dimensions();
}

[data-theme="moon"] {
  --root-bg: #232136;
  --text: #e0def4;
  --primary-white: #d8dee9;
  --line-gray: #3b3a52;
  --icon-color: #a9a1e1;
  --text-gray: #8b8ba1;
  --editor-bg: #232136;
  --side-panel-bg: #2a273f;
  --main-bg: var(--side-panel-bg);
  --image-bg: #1c1a32;

  @include comonColor();
  @include dimensions();
}

[data-theme="fairyfloss"] {
  --root-bg: #5a5475;
  --text: #f8f8f2;
  --primary-white: #ffebcd;
  --line-gray: #615e76;
  --icon-color: #dda0dd;
  --text-gray: #423942;
  --editor-bg: #500250;
  --side-bar-bg: #6d6787;
  --side-panel-bg: #563c56;
  --main-bg: var(--side-panel-bg);
  --image-bg: #4a455f;

  @include comonColor();
  @include dimensions();
}

[data-theme="dracula"] {
  --root-bg: #282a36;
  --text: #f8f8f2;
  --primary-white: #ffffff;
  --top-bar-bg: #21222c;
  --line-gray: #44475a;
  --icon-color: #bd93f9;
  --text-gray: #6272a4;
  --bottom-bar-bg: #ff79c6;
  --editor-bg: #282a36;
  --side-bar-bg: #373844;
  --side-panel-bg: #2a2c37;
  --main-bg: var(--side-panel-bg);
  --image-bg: #1c1e24;

  @include comonColor();
  @include dimensions();
}