@mixin dimensions() {
  --top-bar-height: 30px;
  --top-bar-circle-size: 10px;
  --bottom-bar-height: 20px;
  --side-bar-width: 40px;
  --work-bench-width: 300px;
  --resizable-drager-width: 4px;
  --expandable-item-height: 20px;
  --space-width: 15px;
  --tab-width: 20px;
  --page-line-indicator-width: 45px;
}

@mixin comonColor() {
  --break-point: #dd2f1f;
}

[data-theme="dark"] {
  --root-bg: #080808;
  --text: #fdfdfd;
  --primary-white: rgb(238, 236, 236);
  --top-bar-bg: #333333;
  --line-gray: #313131;
  --icon-color: #949191;
  --text-gray: #778477;
  --bottom-bar-bg: #0776c7;
  --editor-bg: #1b1b1b;
  --side-bar-bg: #2c2c2c;
  --side-panel-bg: #212121;
  --scroll-bar-bg: #262626;
  --main-bg: var(--side-panel-bg);
  --image-bg: #181818;
  --red: #ed484f;
  --yellow: #f8b42b;
  --green: #27d93b;
  --break-point: #e63a2a94;

  // json
  --curly-braces: #dad424;
  --json-value: #c06031;
  --json-key: #8fdcdb;

  //
  @include dimensions();
}

[data-theme="light"] {
  --root-bg: #fdfdfd;
  --text: #080808;
  --primary-white: rgb(238, 236, 236);
  --top-bar-bg: #ffffff;
  --line-gray: #e0e0e0;
  --icon-color: #949191;
  --text-gray: #778477;
  --bottom-bar-bg: #0776c7;
  --editor-bg: #ffffff;
  --side-bar-bg: #f0f0f0;
  --side-panel-bg: #ffffff;
  --scroll-bar-bg: #e0e0e0;
  --main-bg: var(--side-panel-bg);
  --image-bg: #f5f5f5;
  --red: #ed484f;
  --yellow: #f8b42b;
  --green: #27d93b;
  --break-point: #da4537;

  // json
  --curly-braces: #dad424;
  --json-value: #c06031;
  --json-key: #8fdcdb;

  //
  @include dimensions();
}