@import '../../styles/global.scss';

div.clickObserver {
    display: flex;
    @include hoverStyle();
}

.folderTile {
    display: flex;
    padding-left: 10px;
}

.space {
    width: 5px;
}

.selected {
    background-color: var(--editor-bg);
}