$borderWidth: 2px;
$buttonPaddig: 10px;

#sideBar {
  height: 100%;
  width: var(--side-bar-width);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--side-bar-bg);
  overflow-y: auto;
}

.sideBarButton {
  padding: $buttonPaddig $buttonPaddig $buttonPaddig calc($buttonPaddig - $borderWidth);
  border-left: solid $borderWidth var(--side-bar-bg);
}

.sideBarButton.active {
  transition: border 1s;
  border-left: solid $borderWidth var(--bottom-bar-bg);
}

#sideBar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

#sideBar::-webkit-scrollbar-track {
  background: var(--editor-bg);
}

#sideBar::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-bg);
}

#sideBar::-webkit-scrollbar-corner {
  background: var(--scroll-bar-bg);
}