@import '../../../../../common/styles/global.scss';

div.container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  height: max-content;
}

h1.name::after {
  content: "";
  margin-left: 10px;
  margin-right: 10px;
  width: 3px;
  animation: editorLine;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  margin-left: 5px;
}

h1.name:before {
  content: '|';
  color: transparent;
  width: 0;
}

h1.title {
  margin: 0;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  font-size: 3.5em;
  @include readMeFont;
}

@keyframes editorLine {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: var(--primary-white);
  }
}


// container queries
@container(max-width:600px) {
  h1.title {
    font-size: 2.8em;
  }
}

@container(max-width:500px) {
  h1.title {
    font-size: 2.2em;
  }
}

@container(max-width:400px) {
  div.container {
    flex-direction: column;
  }
}

@container(max-width:300px) {
  div.container {
    flex-direction: column;
  }
}

@container(max-width:250px) {
  div.container {
    flex-direction: column;
  }

  h1.title {
    font-size: 2em;
  }
}