@mixin font {
  color: var(--primary-white);
  line-height: 40px;
  text-align: justify;
  font-family: Consolas, Courier New, monospace;
}

.section>hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: #ffffff80;
  border: none;
}

.section {
  padding: 20px;
}

p.content {
  font-size: 1.2em;
  @include font;
}