.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: var(--expandable-item-height);
    user-select: none;
}

p.title {
    color: var(--text);
    font-size: 0.6em;
}