@import '../../styles/global.scss';

.fileTile {
    padding-left: 12.33px;

}
div.clickObserver{
    display: flex;
    flex-direction: column;
    @include hoverStyle();
}
div.tileWrapper {
    width: 100%;
}