:root,
html,
body,
#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  min-width: 100vw;
  overflow: hidden;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--editor-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-bg);
}

::-webkit-scrollbar-corner {
  background: var(--scroll-bar-bg);
}
