@import '../../../../common/styles/global.scss';

#workbench {
  background-color: var(--side-panel-bg);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titleBox {
  display: flex;
  height: calc(var(--top-bar-height) + 10px);
  padding-left: 10px;
  align-items: center;
}

.titleBox>.workBenchTitle {
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: var(--text);
}

.expansionTileList {
  overflow: auto;
}