div.letPadderWithoutBorder {
  padding: 0;
  margin: 0;
  width: var(--space-width);
}

div.letPadderWithBorder {
  padding: 0;
  margin: 0;
  width: var(--space-width);
  border-left: solid 1px var(--line-gray);
}
